_site
.sass-cache
Guardfile
.awestruct
_tmp
.bundle
vendor
*.swp

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/


## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml



