---
layout: base
---
%table.table.table-bordered
  %tr
    %th{:width=>'8%'}
    %th
      Specification
    %th
      API
    %th
      RI
    %th
      Other Impl
    %th
      TCK
    %th
      License
  %tr
    %td
      CDI 1.2
    %td
      %a{:href=>'http://docs.jboss.org/cdi/spec/1.2/cdi-spec-1.2.pdf'}
        PDF
        %i.fa.fa-file
      |
      %a{:href=>'http://docs.jboss.org/cdi/spec/1.2/cdi-spec.html'}
        HTML
        %i.fa.fa-link
    %td
      %a{:href=>'http://search.maven.org/remotecontent?filepath=javax/enterprise/cdi-api/1.2/cdi-api-1.2.jar'}
        API
        %i.fa.fa-download
      |
      %a{:href=>'http://docs.jboss.org/cdi/api/1.2'}
        JavaDoc
        %i.fa.fa-link
      |
      %a.modal-link{"data-toggle"=>"modal", :href=>"#maven-cdi_1_2"}
        Maven
        %i.fa.fa-download-alt
      %td
        %a{:href=>'http://weld.cdi-spec.org/download/'}
          Weld 2.2
          %i.fa.fa-download
      %td
      %td
        %a{:href=>'http://sourceforge.net/projects/jboss/files/CDI-TCK/'}
          TCK 1.2
          %i.fa.fa-download
      %td
        %a{:href=>"http://www.apache.org/licenses/LICENSE-2.0.html"} ASL 2.0

  %tr
    %td
      CDI 1.1
    %td
      %a{:href=>'http://docs.jboss.org/cdi/spec/1.1/cdi-spec.pdf'}
        PDF
        %i.fa.fa-file
      |
      %a{:href=>'http://docs.jboss.org/cdi/spec/1.1/cdi-spec.html'}
        HTML
        %i.fa.fa-link
      |
      %a{:href=>'http://docs.jboss.org/cdi/spec/1.1/cdi-spec.epub'}
        EPUB
        %i.fa.fa-book
    %td
      %a{:href=>'http://search.maven.org/remotecontent?filepath=javax/enterprise/cdi-api/1.1/cdi-api-1.1.jar'}
        API
        %i.fa.fa-download
      |
      %a{:href=>'http://docs.jboss.org/cdi/api/1.1'}
        JavaDoc
        %i.fa.fa-link
      |
      %a.modal-link{"data-toggle"=>"modal", "data-target"=>"#maven-cdi_1_1"}
        Maven
        %i.fa.fa-download-alt
    %td
      %a{:href=>'http://weld.cdi-spec.org/download/'}
        Weld 2.0
        %i.fa.fa-download
    %td
    %td
      %a{:href=>'http://sourceforge.net/projects/jboss/files/CDI-TCK/'}
        TCK 1.1
        %i.fa.fa-download
    %td
      %a{:href=>"http://www.apache.org/licenses/LICENSE-2.0.html"} ASL 2.0
  %tr
    %td
      CDI 1.0
    %td
      %a{:href=>'http://docs.jboss.org/cdi/spec/1.0/pdf/JSR-299-FD.pdf'}
        PDF
        %i.fa.fa-file
      |
      %a{:href=>'http://docs.jboss.org/cdi/spec/1.0/html/'}
        HTML
        %i.fa.fa-link
    %td
      %a{:href=>'http://search.maven.org/remotecontent?filepath=javax/enterprise/cdi-api/1.0-SP4/cdi-api-1.0-SP4.jar'}
        API
        %i.fa.fa-download
      |
      %a{:href=>'http://docs.jboss.org/cdi/api/1.0-SP4'}
        JavaDoc
        %i.fa.fa-link
      |
      %a.modal-link{"data-toggle"=>"modal", :href=>"#maven-cdi_1_0"}
        Maven
        %i.fa.fa-download-alt
    %td
      %a{:href=>'http://weld.cdi-spec.org/download/'}
        Weld 1.1
        %i.fa.fa-download
    %td
      %a{:href=>'http://openwebbeans.apache.org/download.html'}
        Apache OWB 1.2
        %i.fa.fa-download
    %td
      %a{:href=>'http://sourceforge.net/projects/jboss/files/CDI-TCK/'}
        TCK 1.0
        %i.fa.fa-download
    %td
      %a{:href=>"http://www.apache.org/licenses/LICENSE-2.0.html"} ASL 2.0
%h2 Licenses
%p
  All CDI artifacts available from this page are available under the
  %a{:href=>"http://www.apache.org/licenses/LICENSE-2.0.html"} Apache License 2.0
  \.
.alert.alert-danger
  Note that older copies of the CDI specification (before 1.2) contain an out-of-date license. This has been resolved in 1.2 Maintenance Release.
%p
  The specification and JavaDoc are additionally available under the JCP click through license. To obtain artifacts under this license visit the JCP page for
  %a{:href=>"http://jcp.org/en/jsr/detail?id=346"} JSR-346 (CDI 1.1)
  or
  %a{:href=>"http://jcp.org/en/jsr/detail?id=299"} JSR-299 (CDI 1.0)
  \.
  The license can viewed on the Download page for the specification and JavaDoc.
.alert.alert-success
  This process is commonly known as
  %a{:href=>"http://en.wikipedia.org/wiki/Multi-licensing"} dual-licensing
  \. The CDI specification is dual-licensed as it allows Red Hat to follow JCP rules and provide a liberally licensed version of the specification.


- #Create Maven Modals
%div.modal.fade{:id=>"maven-cdi_1_2", :role=>"dialog", :tabindex=>"-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{:data=>{:dismiss=>'modal'}}
          %i.fa.fa-remove
        %h3 Using CDI 1.2 from Maven
      .modal-body.clearfix
        %p To use CDI 1.2, add this dependency:
        %pre
          %code#example
            = preserve do
              :escaped
                  <dependencies>
                      <dependency>
                          <groupId>javax.enterprise</groupId>
                          <artifactId>cdi-api</artifactId>
                          <version>1.2</version>
                          <scope>provided</scope>
                      </dependency>
                  </dependencies>
%div.modal.fade{:id=>"maven-cdi_1_1", :role=>"dialog", :tabindex=>"-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{:data=>{:dismiss=>'modal'}}
          %i.fa.fa-remove
        %h3 Using CDI 1.1 from Maven
      .modal-body.clearfix
        %p To use CDI 1.1, add this dependency:
        %pre
          %code#example
            = preserve do
              :escaped
                  <dependencies>
                      <dependency>
                          <groupId>javax.enterprise</groupId>
                          <artifactId>cdi-api</artifactId>
                          <version>1.1</version>
                          <scope>provided</scope>
                      </dependency>
                  </dependencies>
%div.modal.fade{:id=>"maven-cdi_1_0", :role=>"dialog", :tabindex=>"-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{:data=>{:dismiss=>'modal'}}
          %i.fa.fa-remove
        %h3 Using CDI 1.0 from Maven
      .modal-body.clearfix
        %p To use CDI 1.0, add this dependency:
        %pre
          %code#example
            = preserve do
              :escaped
                  <dependencies>
                      <dependency>
                          <groupId>javax.enterprise</groupId>
                          <artifactId>cdi-api</artifactId>
                          <version>1.0-SP4</version>
                          <scope>provided</scope>
                      </dependency>
                  </dependencies>
