---
layout: base
---

table.table.table-bordered
  tr
    th
    th Specification
    th API
    th Reference Implementation
    th TCK
    th License
  tr
    td CDI 1.1
    td
      markdown:
        [PDF <i class="icon-file"></i>]( http://docs.jboss.org/cdi/spec/1.1/cdi-spec.pdf ) |
        [HTML <i class="icon-link"></i>]( http://docs.jboss.org/cdi/spec/1.1/cdi-spec.html ) |
        [EPUB <i class="icon-book"></i>]( http://docs.jboss.org/cdi/spec/1.1/cdi-spec.epub )
    td
      markdown:
        [API <i class="icon-download"></i>]( http://search.maven.org/remotecontent?filepath=javax/enterprise/cdi-api/1.1/cdi-api-1.1.jar ) |
        [JavaDoc <i class="icon-link"></i>]( http://docs.jboss.org/cdi/api/1.1 ) |
        <a class="modal-link" data-toggle="modal" href="#maven-cdi_1_1">Maven <i class="icon-download-alt"></i></a>     
    td
      markdown:
        [Weld 2.0 <i class="icon-download"></i>]( http://seamframework.org/Weld/Downloads ) 
    td
      markdown:
        [CDI TCK 1.1 <i class="icon-download"></i>]( http://seamframework.org/Weld/Downloads ) 
    td
      a{href="http://www.apache.org/licenses/LICENSE-2.0.html"} Apache License 2.0
  tr
    td CDI 1.0
    td
      markdown:
        [PDF <i class="icon-file"></i>]( http://docs.jboss.org/cdi/spec/1.0/pdf/JSR-299.pdf ) |
        [HTML <i class="icon-link"></i>]( http://docs.jboss.org/cdi/spec/1.0/html/ ) 
    td
      markdown:
        [API <i class="icon-download"></i>]( http://search.maven.org/remotecontent?filepath=javax/enterprise/cdi-api/1.0-SP4/cdi-api-1.0-SP4.jar ) |
        [JavaDoc <i class="icon-link"></i>]( http://docs.jboss.org/cdi/api/1.0-SP4 ) | 
        <a class="modal-link" data-toggle="modal" href="#maven-cdi_1_0">Maven <i class="icon-download-alt"></i></a>
    td
      markdown:
        [Weld 1.1 <i class="icon-download"></i>](http://seamframework.org/Weld/Downloads) 
    td
      markdown:
        [CDI TCK 1.0 <i class="icon-download"></i>](http://seamframework.org/Weld/Downloads) 
    td
      a{href="http://www.apache.org/licenses/LICENSE-2.0.html"} Apache License 2.0
h2 Licenses
p
  markdown:
    All CDI artifacts available from this page are available under the
    [Apache License 2.0]( http://www.apache.org/licenses/LICENSE-2.0.html ).
.alert.alert-block
  Note that copies of the CDI specification contain an out-of-date license. This will be resolved in a maintenance release of CDI.
p 
  markdown:
    The specification and JavaDoc are additionally available under the *JCP click through license*. To obtain artifacts under this license visit the JCP page for
    [JSR-346 (CDI 1.1)]( http://jcp.org/en/jsr/detail?id=346 ) or [JSR-299 (CDI 1.0)]( http://jcp.org/en/jsr/detail?id=299 ).
    The license can viewed on the *Download page* for the specification and JavaDoc.
.alert.alert-success
  markdown:
    This process is commonly known as [dual-licensing]( http://en.wikipedia.org/wiki/Multi-licensing ). 
    The CDI specification is dual-licensed as it allows Red Hat to follow JCP rules and provide a liberally licensed version of the specification.  
- #Create Maven Modals
div.modal.hide{id="maven-cdi_1_1"}
  .modal-header
    a.close{data-dismiss='modal'}
      i.icon-remove
    h3 Using CDI 1.1 from Maven
  .modal-body.clearfix
    p To use CDI 1.1, add this dependency:
    markdown:
        <dependencies>
            <dependency>
                <groupId>javax.enterprise</groupId>
                <artifactId>cdi-api</artifactId>
                <version>1.1</version>
                <scope>provided</scope>
            </dependency>
        </dependencies>
div.modal.hide{id="maven-cdi_1_0"}
  .modal-header
    a.close{data-dismiss='modal'}
      i.icon-remove
    h3 Using CDI 1.0 from Maven
  .modal-body.clearfix
    p To use CDI 1.0, add this dependency:
    markdown:
        <dependencies>
            <dependency>
                <groupId>javax.enterprise</groupId>
                <artifactId>cdi-api</artifactId>
                <version>1.0-SP4</version>
                <scope>provided</scope>
            </dependency>
        </dependencies>

