---
layout: base
title: Frequently Asked Questions
priority: 1
change_frequency: monthly
---
.panel-group#faq_accordion
  - site.faq.each_with_index do |faq, i|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{:href=>"#accordion#{i}", :data=>{:toggle=>"collapse", :parent=>"#faq_accordion"}}= faq.title
      .panel-collapse.collapse{:id=>"accordion#{i}"}
        .panel-body
          - if faq[:since]
            .alert.alert-success.pull-right
              Since CDI #{faq[:since]}
          ~ faq[:rendered_content]