---
layout: base
---
.row
  .span11.hero-unit
    %h1 Contexts and Dependency Injection Specification 
    Everything you ever wanted to know about CDI!
.row
  .span6
    .content-box
      first column
  .span6
    .content-box
      second column
