---
layout: base
priority: 0.5
title: CDI development mailing list
desc: CDI development mailing list
change_frequency: weekly
---
.col-md-12
  h1 Mailing List
  a#nabblelink href='https://www.eclipse.org/mailman/listinfo/cdi-dev' CDI Development mailing list
  script src='https://www.eclipse.org/mailman/listinfo/cdi-dev'
