// Building our own custom compilation of bootstrap

// Core variables and mixins
@import "bootstrap";
//@import "partials/variables"; // Variables from bootswatch

@import "compass/css3";
//@import "compass/css3/text-shadow";
//@import "compass/css3/box-shadow";

//@import "partials/bootswatch";

//@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic|Noto+Serif:400,400italic,700,700italic|Droid+Sans+Mono:400");

//body {
//  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
//}

p {
  font-size: 1.15em;
  line-height:1.6;
}


.centered {
  text-align: center;
}

.content-box {
  background: url(../images/noise_lines.png);
  @include border-radius(2px);
  @include box-shadow(0 0 6px lighten(gray, 20%));
  border: inset gray 2px;
  padding: .5em;
}

#servers {
  padding-top: 20px;
}

.thumbnail {
  height: 200px;
}

// centered nav tabs and pills
.nav-tabs-center > li, .nav-pills-center > li {
  float:none;
  display:inline-block;
  margin-bottom: -1px;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs-center, .nav-pills-center {
  text-align:center;
  border-bottom: 1px solid #ddd;
}

.nav-tabs-center > li > a,
.nav-pills-center > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs-center > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 21px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs-center:before, .nav-tabs-center:after,
.nav-pills-center:before,
.nav-pills-center:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-tabs-center:after,
.nav-pills-center:after {
  clear: both;
}

.nav-tabs-center > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs-center > .active > a,
.nav-tabs-center > .active > a:hover {
  color: #777777;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-pills-center > .active > a,
.nav-pills-center > .active > a:hover {
  color: white;
  background-color: #558bc4;
}
.nav-tabs-center .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.nav-tabs-center .dropdown-toggle .caret {
  margin-top: 8px;
}
.nav-tabs-center .active .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.nav-tabs-center .open .dropdown-toggle,
.nav-pills-center .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: white;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}

.scrollTop {
  font-size: 40px;
  opacity:0.3;
  position:fixed;
  bottom:50px;
  right:100px;
  display:none;
  width:40px;
  height:40px;
}

#main_nav {
  position:fixed;
  top:40px;
  width:190px;
}

a.list-group-item {
  color:#428bca;
}

code {
  background-color: inherit;
}
.first-in-row { margin-left: 0 !important; }

// keep high constrast color on alert

.alert-danger {
background-color: #d47500;
border-color: #c54c00;
color: #fff;
}

.alert-success {
background-color: #819e37;
border-color: #818b30;
color: #fff;
}

// Calendar event display
.calendar {
  display: block;
  @include square(52px);
  font-size: 22px;
  line-height: 20px;
  font-weight: bold;
  @include single-text-shadow();
  text-align: center;
  @include border-radius(5px);
  @include single-box-shadow(rgba(0,0,0,0.09), 0, 1px, 3px);
  border: 1px solid;
  background-color: white;
  vertical-align: top;
  float: left;
  margin-right: 1em;
  .month {
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 1px;
    width: 50px;
    height: 15px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    @include single-text-shadow();
    line-height: 13px;
    padding-top: 1px;
    border-bottom: 1px solid;
    @include border-radius(4px 4px 0 0);
    background-color: white;
    @include background-image(linear-gradient(lighten(red, 25%), red))
  }
  .year {
    display: block;
    color: black;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    top: -2px;
  }
}
